<h1>About</h1>

<section class="jumbotron">
    <h2>Stories of Solidarity</h2>
    <p>A social media platform that encourages workers in the low-wage, precarious workforce to build new forms of solidarity.</p>
</section>

<section>
    <iframe src="//player.vimeo.com/video/75254033?title=0&amp;byline=0" width="800" height="450" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</section>