<div class="container">
<h1>Copyright</h1>

<p>Submitted content is provided under the Creative Commons license, which gives you the ability to share and adapt the material under the same license. Any re-use of the content must follow the following conditions:
<ul>
    <li>You must attribute the content to StoriesOfSolidarity.org. On the web, this means a link. For use offline, please use the text “Content (cc) StoriesOfSolidarity.org”</li>
    <li>You cannot use our content for commercial purposes.</li>
    <li>If you use our content, you must share what you create with it under the same license. This is called share-alike, and it's the basis of the free culture movement.</li>
    <li>You may not redistribute photographs or reuse the StoriesOfSolidarity name and design without specific permission.</li>
</ul>

<p>You can find the full legal text of the license at <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode">creativecommons.org/licenses/by-nc-sa/3.0/legalcode</a>

<h2>Open Source</h2>
<p>The code that powers this website, database and mobile application are open source, and available on <a href="https://github.com/spacedogXYZ/stories-of-solidarity-site">GitHub</a> under the <a href="http://opensource.org/licenses/GPL-3.0"></a>GPL license. We welcome new feature ideas, issue reports, and pull requests.</p>

<p>Specific functionality is provided by the <a href="http://d3js.org">D3</a> visualization library, <a href="https://www.djangoproject.com">Django</a> <a href="http://www.django-rest-framework.org">REST-Framework</a>, and <a href="https://www.twilio.com"></a>Twilio telephony service. </p>
</div>