<div class="modal fade" id="introModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Work in Progress</h4>
            </div>
            <div class="modal-body">
                <p>Stories of Solidarity is a work in progress. Please feel free to browse and leave us feedback at: </p>
                <p><a href="mailto:storiesofsolidarity@gmail.com">storiesofsolidarity@gmail.com</a></p>
                <p>Thank you! <br>
                Click anywhere to begin.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->