<div class="container">
<h1>Privacy Policy</h1>

<p>StoriesOfSolidarity takes seriously workers need for anonymity when speaking out, and our system is designed to protect your information to the best of our ability.</p>

<h3>Submitted Information</h3>
<p>If you register an account with us, we secure your login and password in our database with well-tested encryption methods <a href="https://docs.djangoproject.com/en/1.8/topics/auth/passwords/">[1]</a>. StoriesOfSolidarity staff and organizers may have access to any information you provided on account registration, including first and last name, occupation, employer, location, and photograph.</p>

<p>If you feel uncomfortable with revealing your real identity when sharing a story, please create an account using a pseudonym and sign up with a new email address that you do not share with other services.</p>

<h3>Information Gathered</h3>
<p>We log certain technical information as part of the normal operation of this site and may send it to third-parties for data analysis and service provision. These parties are covered by their own privacy policies.</p>
    <ul>
        <li><a href="https://www.cloudflare.com/security-policy">CloudFlare</a> may receive your full IP address, or other potentially identifiable browser characteristics</li>
        <li><a href="http://www.google.com/policies/privacy/">Google Analytics</a> may receive your anonymized IP address</li>
        <li><a href="https://www.twilio.com/legal/privacy">Twilio</a> may receive your phone number if you send us a text message</li>
        <li><a href="https://www.heroku.com/policy/privacy">Heroku</a> or <a href="https://sendgrid.com/privacy">SendGrid</a> may receive your email address if you register for an account with us</li>
    </ul>

<h3>Required Disclosure</h3>

<p>We may disclose personally identifiable information about you to third parties in limited circumstances, including: (1) with your consent; or (2) when we have a good faith belief it is required by law, such as pursuant to a subpoena or other judicial or administrative order.</p>

<p>If we are required by law to disclose the information that you have submitted, we will attempt to provide you with prior notice (unless we are prohibited or it would be futile) that a request for your information has been made in order to give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by postal mail if you have entered a postal address. If you do not challenge the disclosure request, we may be legally required to turn over your information.</p>

<h4>Acknowledgements</h4>

<em>Portions of this policy provided by the <a href="https://www.eff.org/policy"></a>Electronic Frontier Foundation, under a Creative Commons Attribution license</em>

</div>