<div class="col-sm-3 statement">
    <div class="inner">
        <h1>团结的故事鼓励工人的低工资、 不稳定的劳动力，打造新的团结形式通过分享我们的故事。</h1>
    </div>
    <button class="btn enter" href="#index">输入</button>
</div>

<div class="col-sm-3 statement">
    <div class="inner">
        <h1>Stories of Solidarity encourages workers in the low-wage, precarious workforce to build new forms of solidarity by sharing our stories.</h1>
    </div>
    <button class="btn enter" href="#index">Enter</button>
</div>

<div class="col-sm-3 statement">
    <div class="inner">
        <h1>Historias de Solidaridad queire motivar a los trabajadores con salarios bajos.</h1>
    </div>
    <button class="btn enter" href="#index">Entrar</button>
</div>

<div class="col-sm-3 statement">
    <div class="inner">
        <h1>Kuwento ng Solidarity naghihikayat sa mga manggagawa sa mababang sahod mga manggagawa upang bumuo ng mga bagong paraan ng pagkakaisa sa pamamagitan ng pagbabahagi ng aming mga kuwento.</h1>
    </div>
    <button class="btn enter" href="#index">Pumasok</button>
</div>
