<div class="storyPost container-fluid">
<h2>Share Your Story</h2>

<form action="<%= apiRoot %>story" method="POST">
    <fieldset>
        <span>
            Required Fields are marked by an asterisk (*).<br>
        </span>

        <div class="row">
            <label for="title" class="col-sm-1">Title:</label>
            <input id="title" class="col-xs-12 col-sm-6" name="title" value="" type="text" autocomplete="on" placeholder="">
        </div>

        <div class="row">
            <label for="content" class="col-sm-1">Story:</label>
            <textarea id="content" class="col-xs-12 col-sm-10" rows="6" name="content" value="" ></textarea>
        </div>

        <div class="row">
            <label for="location" class="col-sm-1">Location:</label>
            <input id="location" class="col-xs-12 col-sm-6" name="location" value="" type="text" autocomplete="on" placeholder="">
        </div>

        <div class="row">
            <label for="photo" class="col-sm-1">Photo:</label>
            <input type="file" name="photo">
        </div>

        <div class="row">
            <input type="submit" class="btn btn-primary" value="Post!" />    
        </div>
    </fieldset>
</form>

</div>