@font-face {
    font-family: 'bignoodle';
    src: url('../fonts/bignoodle/big_noodle_titling-webfont.eot');
    src: url('../fonts/bignoodle/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bignoodle/big_noodle_titling-webfont.woff') format('woff'),
         url('../fonts/bignoodle/big_noodle_titling-webfont.ttf') format('truetype'),
         url('../fonts/bignoodle/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
