@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";


%center-vertical {
    // center vertically
    // requires position: relative or absolute
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.line-height-1 {
    line-height: 1;
}

.sans-serif {
    font-family: $font-family-sans-serif;
}
