@import '_variables.scss';

html { 
    position: relative;
    min-height: 100%;
}

body { 
    margin-bottom: $sticky-footer-height;
}

// thick underline
a:hover { 
    color: $text-color;
    // cursor: crosshair;
    text-decoration: none;
    border-bottom: 2px solid #ff9900;
    padding-bottom: 2px;
}

// but not for navbar
.navbar { 
    a:hover {
        border: none;
    }
}

.modal-content {
    a { color: $white; }
}

.warning#browsehappy {
    margin: 0.2em 0;
    background-color: #FF8800;
    color: $gray-lighter;
    padding: 0.2em 0;
}

.container-fluid section.jumbotron {
    margin: 0;
    border-radius: 0;
}

.container-narrow > hr {
    margin: 30px 0;
}

form input, form textarea {
    color: $black;
}
