@import '_variables.scss';

// navbar font size reduce
@media screen and (min-width: $screen-md) {
    html:lang(zh) {
        ul.nav.navbar-nav > li {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: $grid-float-breakpoint) and (max-width: $screen-md) {
    .navbar.navbar-default {
        ul.nav.navbar-nav > li {
            font-size: 24px;
        }
    }

    .navbar-brand {
        a { font-size: 24px; }
    }
}


@media screen and (max-width: 875px) {
    .navbar-brand {    
        a { font-size: 20px; }
    }

    .navbar-nav li.share {
        textarea {
            font-size: 14px;
            line-height: 14px;
        }
    }
}



/* Responsive: screen-small / tablet */
@media screen and (max-width: $grid-float-breakpoint) {
    .container {
        max-width: $container-sm;
    }

    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar.navbar-default { 
        .navbar-brand {
            width: calc(100% - 60px);
        }
        ul.nav.navbar-nav {
            width: 100%;
            margin: 0;
            li {
                width: 100%;
                border-right: 0;
            }

            li.button.active {
                margin-left: 0;
                margin-right: 0;
                background-color: $orange-dark;

                &:before, &:after {
                    width: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        .navbar-search {
            width: 100%;
            margin-left: 0;

            .searchResults {
                width: calc(100% - 20px);
            }
        }
    }

    .storyRead {
        padding-bottom: 100px;
    }

    .storyList {
        .item { width: 200px; }
    }
}

// phone
@media screen and (max-width: $screen-xs) {
    .storyList {
        .item { width: 100%; }
    }
}
