@import '_variables.scss';
@import '_mixins.scss';

.storyList {
    @include clearfix;
    padding-top: 20px;

    .stories {
        margin: 50px auto;
        text-align: center;
        .grid { text-align: left; }
    }

    ul.filters {
        list-style-type: none;
        text-align: left;
        padding: 0;
        margin: 0 0 20px 0;
        width: 100%;

        font-size: 18px;
        text-transform: uppercase;
        li { 
            margin-right: 10px;
        }
    }

    .item { 
        text-align: left;
        width: 250px;
        background-color: #000;
        padding: 20px;
        margin: 0 10px 10px 0;
    }

    .item.break {
        background-color: $gray-base;
        width: 100%;
        text-align: right;
    }

    .story {
        .body { 
            // overflow-y: hidden;
        }
        .meta { 
            span.permalink a {
                color: $orange;
            }

            text-align: left;
            font-size: 12px;
            color: #666;
            font-weight: normal;
            text-transform: none;
            font-family: $font-family-base;
        }
    }
}

.storyRead {
    @include clearfix;
    @include make-row;

    background: $gray-darker;
    padding: 50px;
    min-height: 100%;

    h1 {
        font-family: $font-family-sans-serif;
        padding: 10px 0 10px 0;
        letter-spacing: 2px;
        font-size: $font-size-large;
        color: $white;
        text-transform: uppercase;
    }
    h2 { 
        font-family: $font-family-sans-serif;
        font-size: $font-size-medium;
        color: $white;
    }

    .content {
        @include make-row;
        @include make-sm-column(6);
        @include make-sm-column-offset(3);

        .text {
            //color: #f8f4e7; // "slightly creamy"
            white-space: pre-line;
        }

        &.one-col-right {
            @include make-sm-column(3);
            @include make-sm-column-offset(6);
        }
        &.two-col {
            .text {
                // use css3 columns for more flexible wrapping
                -webkit-columns: 2 200px;
                -moz-columns: 2 200px;
                columns: 2 200px;
                -webkit-column-gap: 50px;
                -mozilla-column-gap: 50px;
                column-gap: 50px;
            }
        }
        &.has-photo {
            @include make-sm-column(12);
            @include make-sm-column-offset(0);

            .text { 
                @include make-sm-column(6);   
                -webkit-columns: auto;
                -moz-columns: auto;
                columns: auto;
            }
            .photo {
                @include make-sm-column(6);
                img { width: 100%; }
            }
        }
    }

}

.storyPost {
    float: left;
    width: calc(100% - 50px);
    max-width: 600px;

    margin: 0 10px;
    background-color: transparent;
    padding: 0px;
    font-family: $font-family-sans-serif;
    letter-spacing: 1px;

    .box.white {
        background-color: $white;
        width: 100%;
    }

    .btn {
        border-radius: 0;
        border: none;
        font-family: $headings-font-family;
        font-size: 20px;
        padding-top: 13px;
        height: 50px;
        background-color: $orange;
        color: $white;
        &:hover { background-color: $orange-light; }
        &.btn-white {
            background-color: $white;
            color: $gray-light;
        }
    }

    .form-group {
        width: 100%;
        padding: 0 10px;
        border-bottom: 1px solid #CCC;
        &.break {
            background-color: $orange;
            border: none;
            height: auto;
        }

        &.first, &.last {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .row {
        margin: 0px;
        height: 30px;
    }

    input[type="text"] {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    textarea, input[type="text"], .input-group.row {
        width: 100% !important;
        height: 25px;
        border: none;
        margin: 0;
        padding: 0 10px;

        font-size: 14px;
        line-height: 14px;
        font-weight: lighter;
        color: $gray-base;

        &::-webkit-input-placeholder { color: $gray-base; }
        &:-moz-placeholder { /* Firefox 18- */ color: $gray-base; }
        &::-moz-placeholder {  /* Firefox 19+ */ color: $gray-base;  }
        &:-ms-input-placeholder { color: $gray-base; }
        &::placeholder { color: $gray-base; }
    }

    input[type="text"], .input-group.row {
        position: relative;
        top: -7px;
    }

    textarea#storyContent {
        letter-spacing: 1px;
        width: 100%;
        padding: 10px;
        margin: 0;
        &.open {
            height: 150px;
            padding-top: 8px;
        }
        &.closed {
            padding: 5px 10px;
        }
    }

    h4 { 
        font-family: $font-family-sans-serif;
        color: $gray-base;
        text-align: left;
        font-size: 14px;
        font-weight: lighter;
        margin: 0;
    }

    .input-group#location {
        width: 100%;

        .btn#geolocate {
            width: 50px;
            height: 30px;
            float: left;
            margin-left: -5px;
            padding: 0;
            font-size: 16px;
            border-right: 1px solid #CCC;
        }

         input#city {
            max-width: calc(100% - 50px - 175px - 1px);
            height: 29px;
            border-right: 1px solid #CCC;
        }
         
        input#state, div.bootstrap-select {
            float: right;
            width: 175px;
        }
    }

    .selectpicker {
        // remove default .btn styles
        background-color: $white;
        &:hover { background-color: $white; color: $gray-base; }
        &:focus { outline: 0 !important; outline-offset: 0 !important; }
        color: $gray-base;
        font-family: $font-family-sans-serif;
        font-size: 14px;

        // ugly hack to make it line up with input-group
        height: 28px;
        padding-top: 8px;
        span.filter-option { line-height:1; }
        text-transform: uppercase;
    }

    // remove bootstrap dropdown defaults
    .dropdown-menu {
        background-color: $white;
        color: $black;
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 150px;

        & > li {
            background-color: $white;

            & > a {
                color: $black;
                padding: 5px 10px;
                line-height: 20px;

                &:focus {
                    outline: 0 !important;
                    outline-offset: 0 !important;
                }
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }

    .form-group.buttons {
        padding: 0;
        .btn {
            box-shadow: 0 1px 10px #333;
        }
    }

    // nest file input inside span
    // from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
    .btn-file {
        position: relative;
        overflow: hidden;

        height: 50px; // square
        & span.icon {
            font-size: 25px;
            position: relative;
            top: 1px;
        }
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    button[type="submit"] {
        background-color: $orange;
        color: $white;
        border-radius: 0;
        border: none;

        margin-left: 5px;
    }

    .break.push-down {
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 1px 10px #333;
    }

    .help-block {
        max-width: 170px;
    }
}

.btn.close {
    float: right;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    padding: 5px 10px;
    opacity: 1;

    span { 
        font-size: 24px;
        line-height: 14px;
        top: 3px;
        position: relative;
    }
    &.gray { background: $gray; }
    &:hover { background: $gray-darker; color: $orange; }
}

@-webkit-keyframes pulse {
    0% {color: $gray-light;}
    100% {color: $gray;}
}
.pulse {
    -webkit-animation: pulse 0.75s ease-in-out alternate infinite;
}

.input-group.left {
    text-align: left;
    float: left;
}
.input-group.right {
    text-align: right;
    float: right;
}

.storyThanks {
    width: 50%;
    top: 25%;
    position: relative;
    margin: 0 auto;

    h1 {
        font-family: $font-family-content;
        font-size: 24px;
        margin: 0;
        font-weight: normal;
    }
    h2 {
        font-family: $font-family-sans-serif;
        letter-spacing: 1px;
        font-weight: normal;

        font-size: 18px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .content {
        background: $gray-dark;
        clear: both;
        padding: 40px 20px;
        margin: 10px 0;
        width: 100%;    

        div.copyLink {
            display: inline-block;
            width: 100%;
            padding: 2px 5px;
            margin: 5px -5px;

            background-color: $orange;
            color: $white;
            text-transform: uppercase;

            cursor: -webkit-pointer;
            cursor: -moz-pointer;
            cursor: pointer;

            a { color: $white; }
        }
    }
    
    .btn.btn-default { 
        background: $gray;
        margin-left: 10px;
        margin-bottom: 10px;
        box-shadow: 0 1px 10px #333;
        &:hover { 
            border: 1px solid transparent;
            background-color: $orange;
            color: $white;
        }
    }
}
