@import '_variables.scss';

.storyList {

    .item { 
        width: 225px;
        background-color: #000;
        padding: 20px;
        float: left;
        margin: 0 10px 10px 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        h2 {
            text-align: center;
            margin: 0;
        }
    }

    .story {
        .body { 
            height: 160px;
            //overflow-y: hidden;
            span.readMore { display: block; }
        }
        h3 { 
            text-align: right;
            font-size: 12px;
            color: #666;
            font-weight: normal;
            text-transform: none;
            font-family: $font-family-base;
        }
    }
}

.storyRead {
    background: $black;
    padding: 20px 40px;

}

.storyMap {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    vertical-align: top;
    overflow: hidden;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor:zoom-in;
    z-index:0;

    .background {
        fill: none;
        pointer-events: all;
        cursor:default;
    }

    .feature {
        fill: #ccc;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .feature.active {
        fill: $gray-light;
        cursor: -webkit-zoom-out;
        cursor: -moz-zoom-out;
        cursor: zoom-out;
    }

    .feature:hover {
        fill: $gray-lighter;
    }
    .feature.active:hover {
        fill: $gray-light;
    }

    .bubble {
        circle {
            fill: $orange;
            opacity: 0.8;
            cursor: pointer
        }
    }

    .mesh {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.storyPost {
    background-color: $black;
    padding: 40px;

    .row { margin-bottom: 20px; }
    textarea, input, .input-group {
        vertical-align: top;
        color: $black;
    }
}