@import '_variables.scss';

.storyList {
    .item { 
        width: 225px;
        background-color: #000;
        padding: 20px;
        float: left;
        margin: 0 10px 10px 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        h2 {
            text-align: center;
            margin: 0;
        }
    }

    .story {
        .body { 
            height: 160px;
            //overflow-y: hidden;
            span.readMore { display: block; }
        }
        h3 { 
            text-align: right;
            font-size: 12px;
            color: #666;
            font-weight: normal;
            text-transform: none;
            font-family: $font-family-base;
        }
    }
}

.storyRead {
    background: $black;
    padding: 20px 40px;

    h1 {
        font-family: $font-family-sans-serif;
        border-top: 1px solid $orange;
        border-bottom: 1px solid $orange;
        padding: 10px 0 10px 0;
        letter-spacing: 2px;
        font-size: $font-size-large;
        color: $orange;
    }
    h2 { 
        font-family: $font-family-sans-serif;
        font-size: $font-size-medium;
        color: $gray-light;
    }

}

.storyPost {
    float: left;
    width: calc(100% - 50px);

    margin: 0 10px;
    background-color: transparent;
    padding: 0px;
    font-family: $font-family-sans-serif;

    .box.white {
        background-color: $white;
        width: 100%;
    }

    .btn {
        background-color: $white;
        border-radius: 0;
        border: none;
        color: $black;
    }

    .form-group {
        width: 100%;
        padding: 0 10px;
        border-bottom: 1px solid #CCC;
        &.break {
            background-color: $orange;
            border: none;
            height: auto;
        }

        &.first, &.last {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .row {
        margin: 0px;
        height: 30px;
    }

    textarea, input[type="text"], .input-group.row {
        width: 100% !important;
        height: 25px;
        border: none;
        margin: 0;
        padding: 0 10px;

        font-size: 14px;
        line-height: 14px;
        font-weight: lighter;
        color: $gray-base;

        &::-webkit-input-placeholder { color: $gray-base; }
        &:-moz-placeholder { /* Firefox 18- */ color: $gray-base; }
        &::-moz-placeholder {  /* Firefox 19+ */ color: $gray-base;  }
        &:-ms-input-placeholder { color: $gray-base; }
        &::placeholder { color: $gray-base; }
    }

    input[type="text"], .input-group.row {
        position: relative;
        top: -10px;
    }

    textarea#content {
        width: 100%;
        padding: 10px;
        margin: 0;
        &.open {
            height: 150px;
        }
        &.closed {
            padding: 5px 10px;
        }
    }

    h4 { 
        font-family: $font-family-sans-serif;
        color: $gray-base;
        text-align: left;
        font-size: 14px;
        font-weight: lighter;
        margin: 0;
    }

    .input-group#location {
        width: 100%;

        .btn#geolocate {
            width: 50px;
            height: 30px;
            float: left;
            margin-left: -5px;
            padding: 0;
            font-size: 16px;
            border-right: 1px solid #CCC;
        }

         input#city {
            max-width: calc(100% - 50px - 175px - 1px);
            height: 29px;
            border-right: 1px solid #CCC;
        }
         
        input#state, div.bootstrap-select {
            float: right;
            width: 175px;
        }
    }

    .selectpicker {
        // ugly hack to make it line up with input-group

        height: 28px;
        span.filter-option { line-height:1; }
        text-transform: uppercase;
    }

    // remove focus outline
    .dropdown-menu > li > a:focus {
        outline: 0 !important;
        outline-offset: 0 !important;
    }
    .dropdown-menu > li > a:hover {
        border-bottom: none;
    }

    .input-group.left {
        text-align: left;
        float: left;
    }
    .input-group.right {
        text-align: right;
        float: right;
    }

    .form-group.buttons {
        padding: 0;
        .btn {
            box-shadow: 0 1px 10px #333;
        }

        // nest file input inside span
        // from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
        .btn-file {
            position: relative;
            overflow: hidden;

            height: 36px;
            & span.icon {
                font-size: 25px;
                position: relative;
                top: -3px;
            }
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        button[type="submit"] {
            background-color: $orange;
            color: $white;
            border-radius: 0;
            border: none;

            margin-left: 10px;
        }
    }

    .break.push-down {
        margin-top: 5px;
        margin-bottom: 0px;
        box-shadow: 0 1px 10px #333;
    }
}

.backLink {
    float: left;
    clear: left;
}

.svg-content-responsive {
  display: block;
  position: absolute;
  left: 0;
}
