<div class="about page">
	<section class="gray">
	    <h1>A social media tool that helps workers in low wage, precarious jobs to build new forms of solidarity and mutual aid.</h2>
	</section>

	<section class="yellow">
		<div class="row">
		    <h2>How does it work?</h2>
		    <div class="content one-third-col">
		    	<ul class="text">
			    	<li><h3>Post a story via the web, mobile app, or text messaging.</h3></li>
			    	<li><h3>It will appear on the map, to share with others.</h3></li>
			    	<li><h3>Totally anonymous.</h3></li>
			    </ul>
			    <div class="image">
			    	<img src="images/howitworks.png">
			    </div>
		    </div>
		</div>		
	</section>

	<section class="orange">
		<div class="row">
		    <h2>Project Background</h2>
		    <div class="content two-col">
		        <div class="text">
			        <p>The Stories of Solidarity project arose from a “hack-a-thon” group formed for a conference organized by UC Davis Professors Chris Benner, Jesse Drew and Glenda Drew entitled “Social Media, Insecure Work and New Solidarities” held at the UCLA downtown labor center in the Fall of 2012.</p>
			        <p>The “hack-a-thon” group came together to create a new social media platform beneficial to those organizing sectors of workers that suffer from low wages, poor healthcare, immigration problems and other aspects of much of the new economy. The original hack-a-thon team was comprised of students and faculty from Design, Computer Science, History, Community Development, Technocultural Studies, and Digital Humanities from both UC Davis and UC Los Angeles.</p>
					<p>The project recognizes that social media has become a powerful means for connecting people and supporting social movement organizing. At the same time, rapid technological change, globalization and volatile competitive conditions have contributed to growing insecurity in work, in which the workplace is less frequently a site of long-term stability and collective conceptions of work have been eroded as a basis for solidarity. By building the Stories of Solidarity project, the developers seek to apply skill and talent to help solve an important social ill that plagues millions of workers in the US.</p>
				</div>
		    </div>
	    </div>
	</section>

	<section class="gray">
		<div class="row">
			<h2>2013-2014 Team</h2>
			<div class="content three-col">
				<ul>
					<li><em>UCDavis</em></li>
					<li>Glenda Drew</li>
					<li>Jesse Drew</li>
					<li>Kat Fukui</li>
					<li>John Haffner</li>
					<li>Vivian Ho</li>
					<li>Jack Leng</li>
					<li>Joyce Lue</li>
					<li>Tristan Schoening</li>
					<li>Liz Shigetoshi</li>
					<li>Ashish Subedy</li>
				</ul>

				<ul>
					<li><em>UCLA</em></li>
					<li>Leslie Bloomfield</li>
					<li>Anthony Bushong</li>
					<li>Sophia Campos</li>
					<li>Amy Hawkins</li>
					<li>David Kim</li>
					<li>Joanna Lo</li>
					<li>Celso Mireles</li>
					<li>Miriram Posner</li>
					<li>Monit Tiyagi</li>
				</ul>

				<ul>
					<li><em>Special thanks</em></li>
					<li>Chris Benner</li>
					<li>Tobias Higbie</li>
					<li>Goetz Wolff</li>
				</ul>
			</div>
		</div>

		<div class="row">	
			<h2>2014-2015 Team</h2>
			<div class="content three-col">
				<ul>
					<li><em>UCDavis</em></li>
					<li>Glenda Drew</li>
					<li>Jesse Drew</li>
					<li>John Haffner</li>
					<li>Michellle Huey</li>
					<li>Emily Isaac</li>
					<li>Jack Leng</li>
					<li>Tiffany Monica Louie</li>
					<li>Elizabeth Pizano</li>
				</ul>

				<ul>
					<li><em>UCBerkeley</em></li>
					<li>Ken Jacobs</li>
					<li>&nbsp;</li>
					<li><em>UCMerced</em></li>
					<li>Robin Delugan</li>
					<li>Lidia Pavon</li>
				</ul>

				<ul>
					<li><em>SpacedogXYZ</em></li>
					<li>Josh Levinger</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="yellow">
		<div class="row">
			<h2>Supporters</h2>
			<div class="content one-col">
				<ul>
					<li>67 Sueños</li>
					<li>Center for Digital Storytelling</li>
					<li>Food Chain Workers Alliance</li>
					<li>Los Angeles Alliance for a New Economy Story-based Strategy</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<h2>Sponsors</h2>
			<div class="content one-col">
				<ul>
					<li>AFL-CIO</li>
					<li>CCMAD (California Center for Media Arts and Democracy)</li>
					<li>CITRIS (Center for Information Technology Research in the Interest of Society)</li>
					<li>OUR Walmart</li>
					<li>UCHRI (University of California Humanities Research Institute)</li>
					<li>UCIRA (University of California Institute for Research in the Arts)</li>
					<li>ViDi (Visualization and Interface Design Innovation)</li>
				</ul>
			</div>
		</div>
	</section>
</div>