<div class="auth passwordReset container-fluid" tx-tags="auth">

<h2><%= _t("Reset Password") %></h2>

<form class="form-horizontal" id="passwordReset" action="<%= Solidarity.apiRoot %>auth/password/reset/" method="POST">

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label"><%= _t("Registered Email") %></label>
        <input name="email" class="col-sm-4" type="email"/>
        <span class="help-block col-sm-4"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary col-sm-offset-2" type="submit">
            <span class="glyphicon glyphicon-log-in"></span> <%= _t("Go") %>
        </button>
    </div>
</form>

</div>