<div class="auth passwordChange container-fluid">

<h2>Set New Password</h2>

<form class="form-horizontal" id="passwordResetConfirm" action="<%= Solidarity.apiRoot %>auth/password/reset/confirm/" method="POST">

    <div class="form-group">
        <label for="new_password1" class="col-sm-2 control-label">New Password:</label>
        <input name="new_password1" class="col-sm-4" type="password"/>
        <span class="help-block col-sm-4"></span>
    </div>

    <div class="form-group">
        <label for="new_password2" class="col-sm-2 control-label">Confirm New Password:</label>
        <input name="new_password2" class="col-sm-4" type="password"/>
        <span class="help-block col-sm-4"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary col-sm-offset-2" type="submit">
            <span class="glyphicon glyphicon-log-in"></span> Go
        </button>
    </div>
</form>

</div>