<div class="auth passwordChange container-fluid" tx-tags="auth">

<h2><%= _t("Change Password") %></h2>

<form class="form-horizontal" id="passwordChange" action="<%= Solidarity.apiRoot %>auth/password/change/" method="POST">

    <div class="form-group">
        <label for="new_password1" class="col-sm-2 control-label"><%= _t("New Password") %></label>
        <input name="new_password1" class="col-sm-4" type="password"/>
        <span class="help-block"></span>
    </div>

    <div class="form-group">
        <label for="new_password2" class="col-sm-2 control-label"><%= _t("Confirm New Password") %></label>
        <input name="new_password2" class="col-sm-4" type="password"/>
        <span class="help-block"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary col-sm-offset-2" type="submit">
            <span class="glyphicon glyphicon-log-in"></span> <%= _t("Go") %>
        </button>
    </div>
</form>

</div>