<div class="copyright page" tx-tags="copyright">
	<section class="light-gray">
		<div class="row">
			<h2><%= _t('Copyright') %></h2>

			<div class="content two-col">
				<div class="text">
					<p><%= _t("Submitted content is provided under the Creative Commons license, which gives you the ability to share and adapt the material under the same license. Any re-use of the content must follow the following conditions:") %></p>
					<ul>
					    <li>&ndash; <%= _t("You must attribute the content to StoriesOfSolidarity.org. On the web, this means a link. For use offline, please use the text &ldquo;Content (cc) StoriesOfSolidarity.org&rdquo;") %></li>
					    <li>&ndash; <%= _t("You cannot use our content for commercial purposes.") %></li>
					    <li>&ndash; <%= _t("If you use our content, you must share what you create with it under the same license. This is called share-alike, and it's the basis of the free culture movement.") %></li>
					    <li>&ndash; <%= _t("You may not redistribute photographs or reuse the StoriesOfSolidarity name and design without specific permission.") %></li>
					</ul>

					<p><%= _t('You can find the full legal text of the license at')+' <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode">creativecommons.org/licenses/by-nc-sa/3.0/legalcode</a>' %></p>
				</div>
			</div>
		</div>
	</section>

	<section class="light-gray">
		<div class="row">
			<h2><%= _t('Open Source') %></h2>
			<div class="content two-col">
				<div class="text">
					<p>The code that powers this website, database and mobile application are open source, and available on <a href="https://github.com/storiesofsolidarity">GitHub</a> under the <a href="http://opensource.org/licenses/GPL-3.0"></a>GPL license. We welcome new feature ideas, issue reports, and pull requests.</p>

					<p>Specific functionality is provided by the <a href="http://d3js.org">D3</a> visualization library, <a href="https://www.djangoproject.com">Django</a> <a href="http://www.django-rest-framework.org">REST-Framework</a>, the <a href="https://www.twilio.com"></a>Twilio telephony service, and the <a href="www.mapzen.com"></a>Mapzen</a> geocoder. </p>
				</div>
			</div>
		</div>
	</section>
</div>