<div class="privacy">

	<section>
		<div class="row">
			<h2>Privacy Policy</h2>

			<div class="content half-col">
				<div class="text">
					<p>StoriesOfSolidarity takes seriously workers need for anonymity when speaking out, and our system is designed to protect your information to the best of our ability.</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<h2>Required Disclosure</h2>

			<div class="content two-col">
				<div class="text">
					<p>We may disclose personally identifiable information about you to third parties in limited circumstances, including: (1) with your consent; or (2) when we have a good faith belief it is required by law, such as pursuant to a subpoena or other judicial or administrative order.</p>

					<p>If we are required by law to disclose the information that you have submitted, we will attempt to provide you with prior notice (unless we are prohibited or it would be futile) that a request for your information has been made in order to give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by postal mail if you have entered a postal address. If you do not challenge the disclosure request, we may be legally required to turn over your information.</p>

					<p>If you feel uncomfortable with revealing your real identity when sharing a story, please create an account using a pseudonym and sign up with a new email address that you do not share with other services.</p>
				</div>
			</div>
		</div>
	</section>

</div>