<div class="splash" tx-tags="splash">
    <div class="center">
    <ul class="statement" >
        <li id="zh">
            <img src="<%= Solidarity.siteRoot + 'images/logo/logo_zh_small.png'%>" alt="我们的故事" />
            <h1>与他人分享您的工作的故事。</h1>
            <h2>改变从这里开始。</h2>
            <button class="btn enter" href="#map" data-lang="ZH">输入</button>
        </li>

        <li id="en" style="display: none;">
            <img src="<%= Solidarity.siteRoot + 'images/logo/logo_en_small.png'%>" alt="Stories of Solidarity" />
            <div class="inner">
                <h1>Share your work story with others.</h1>
                <h2>Change starts here.</h2>
            </div>
            <button class="btn enter" href="#map" data-lang="EN">ENTER</button>
        </li>

        <li id="es" style="display: none;">
            <img src="<%= Solidarity.siteRoot + 'images/logo/logo_es_small.png'%>" alt="Historias de Solidaridad" />
            <h1>Comparte su historia del trabajo con otros.</h1>
            <h2>Camboio empeiza aqui.</h2>
            <button class="btn enter" href="#map" data-lang="ES">ENTRAR</button>
        </li>

        <li id="tl" style="display: none;">
            <img src="<%= Solidarity.siteRoot + 'images/logo/logo_tl_small.png'%>" alt="Kuwento ng Solidarity" />
            <h1>Ibahagi ang iyong kuwento trabaho sa iba.</h1>
            <h2>Baguhin ang nagsisimula dito.</h2>
            <button class="btn enter" href="#map" data-lang="TL">PUMASOK</button>
        </li>
    </ul>

    <ul class="languages">
        <li><button class="btn lang active" href="#map" data-lang="zh">
            <span style="margin-left:-1px;">中国</span>
        </button></li>
        <li><button class="btn lang" href="#map" data-lang="en"><span>ENG</span></button></li>
        <li><button class="btn lang" href="#map" data-lang="es"><span>ESP</span></button></li>
        <li><button class="btn lang" href="#map" data-lang="tl"><span>TAG</span></button></li>
    </ul>

    </div>
</div>