<div class="storyThanks">
	<div class="input-group right">
		<div class="btn btn-default close gray">
			<span class="icon">&times;</span>
			<%= _t('Close') %>
		</div>
	</div>

	<div class="content">
		<h1><%= _t('Thank you for submitting your story!') %></h1>

		<h2><%= _t('View your story at the following link') %>:</h2>
		<div class="copyLink"><a href="<%= data.url %>"><%= data.link %></a></div>
	</div>

	<!--<div class="input-group right">
		<div class="btn btn-default">
			LOGIN
		</div>

		<div class="btn btn-default">
		    CREATE ACCOUNT
		</div>
	</div>-->

</div>