<div class="item story" id="story-<%=data.id%>">
    <div class="body notranslate">
        <% if (data.content.length > 160) { %>
            <% if (data.content.charAt(159) == ' ') { %>
                <%- data.content.slice(0,159) %>...
            <% } else { %>
                <%- data.content.slice(0,160) %>...
            <% } %>
        <% } else { %>
            <%- data.content %>
        <% } %>
        
    </div>
    <div class="meta">
        <span class="permalink">
            <a class="permalink" href="#/read/story/<%= data.id %>"><%= _t("more") %></a>
        </span>
        <var class="date">
            <%= moment(data.created_at).format('M/D/YYYY - h:mma') %>
        </var>
    </div>
</div>