<div class="storyList">
	<button href="#close" onclick="history.go(-1);return false;" class="btn close gray" >
        <span>&times;</span> <%= _t("Close") %>
    </button>


	<div class="stories">
		<ul class="filters notranslate">
			<% if(data.location) { %>
			<li>
				<%= '<var id="storyCount">'+data.story_count +'</var> '+
	        (data.story_count == 1 ? _t('Story') : _t('Stories'))+' '
	        +_t('From')+' '
	        +'<var>'+data.name+'</var>' %>
			</li>
			<% } %>
		</ul>

		<div class="grid">
	    <!-- story items added here -->
		</div>
	</div>
</div>