<div class="item story" id="story-<%=data.id%>">
    <div class="body">
        <% if (data.content.length > 160) { %>
            <%- data.content.slice(0,160) %>...
        <% } else { %>
            <%- data.content %>
        <% } %>
        
    </div>
    <div class="meta">
        <span class="permalink">
            <a class="permalink" href="#read/story/<%= data.id %>">permalink</a>
        </span>
        <span class="date">
            <%= moment(data.created_at).format('M/D/YYYY - h:mma') %>
        </span>
    </div>
</div>